ID=20

#POSICIONES_ENTRENADORES=[1|3,2|3,3|2]
POSICIONES_ENTRENADORES=[1|3,2|3,2|2]
#POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]

POKEMON_ENTRENADORES=[Pikachu, , ]
#POKEMON_ENTRENADORES=[ , , , , ]

OBJETIVOS_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Gengar,Squirtle|Onix]
#OBJETIVOS_ENTRENADORES=[Vaporeon,Jolteon,Flareon,Umbreon,Espeon]

TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=5

ALGORITMO_PLANIFICACION=FIFO
QUANTUM=1
ESTIMACION_INICIAL=5
ALPHA=0.5

IP_BROKER=127.0.0.1
PUERTO_BROKER=8081
IP_TEAM=127.0.0.1
PUERTO_TEAM=8090

LOG_FILE=log_team.txt
