ID=1
POSICIONES_ENTRENADORES=[1|1]
POKEMON_ENTRENADORES=[Squirtle]
OBJETIVOS_ENTRENADORES=[Pikachu|Pikachu|Squirtle]
TIEMPO_RECONEXION=10
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=SJF-CD
QUANTUM=2
ESTIMACION_INICIAL=2
ALPHA=0.5
IP_BROKER=127.0.0.1
PUERTO_BROKER=8081
IP_TEAM=127.0.0.1
PUERTO_TEAM=8090
LOG_FILE=log_team.txt