ID=1
POSICIONES_ENTRENADORES=[1|2,5|5]
POKEMON_ENTRENADORES=[Squirtle,Pikachu]
OBJETIVOS_ENTRENADORES=[Pikachu|Pikachu,Squirtle|Pikachu]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=SJF-CD
QUANTUM=2
ESTIMACION_INICIAL=3
ALPHA=0.5
IP_BROKER=127.0.0.1
PUERTO_BROKER=8081
IP_TEAM=127.0.0.1
PUERTO_TEAM=8090
LOG_FILE=log_team.txt